
table {
    border-collapse: collapse;
    background-color: whitesmoke;
}

table tr td {
    border: 4px solid black;
    padding: 20px;
    text-align: center;
}

table tr th {
    background-color: green;
    color: chocolate;
    padding-top: 10px;
    padding-bottom: 10px;
}


.forms {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

form {
    background-color: silver;
    border: 3px solid brown;
    padding: 10%;
}

form>* {
    width: 100%;
}

form label {
    font-weight: bold;
}

form input[type="submit"] {
    margin-top: 5px;
    margin-bottom: 5px;
}
