.box{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.char{
    text-align: center;
    border: 5px solid black;
    width: 50px;
    height: 50px;
    padding: 12px;
    font-size: 25px;
    position: relative;
}

.id{
    display: block;
    font-size: 12px;
    position: absolute;
    bottom: 10px;
    margin-left: 7px;
}

.highlight{
    background-color: yellow;
}
