table {
    border-style: solid;
    border-width: 5px;
    border-color: blue;
}

th {
    border-style: solid;
    border-width: 5px;
    border-color: grey;
    background-color: magenta;
}

td {
    border-style: solid;
    border-width: 5px;
    border-color: darkgoldenrod;
    background-color: orange;
}

li {
    color: green;
    font-weight: bold;
}

a {
    color: green;
    text-decoration: none;
}